dotenv
ollama
crewai
crewai_tools
pyvis
matplotlib
langchain
python-dotenv
langchain-openai
langchain-core
langchain-community
bs4
faiss-cpu
pypdf
arxiv
pymupdf
wikipedia
lxml
google-generativeai
langchain_google_genai
langchain_huggingface
chromadb
PyPDF2
langchain-groq
langgraph
streamlit
PyPDF2
langgraph-cli[inmem]
requests
lib.utils
lib.config
TypedDict
fastapi
FastAPI
flask
pygraphviz
fpdf